[init]
  defaultBranch = main

[core]
  autocrlf = input
  excludesfile = ~/.gitignore

[user]
  name = James Martinez
  email = jamescmartinez@gmail.com

[alias]
  a = add
  amend = commit --amend -C HEAD --date=now
  c = commit
  co = checkout
  d = diff
  de = diff -- \":(exclude)package-lock.json\"
  l = log --graph --pretty=\"format:%C(yellow)%h %C(green)%ar %C(cyan)%an %C(red)%d %C(reset)%s\"
  lt = !git l --simplify-by-decoration
  pl = pull
  pr = pull-request
  pu = push
  puf = push --force-with-lease
  pup = !git push -u origin \"$(git rev-parse --abbrev-ref HEAD)\"
  s = status -sb

[push]
  default = simple

[pull]
  rebase = true

[merge]
  ff = only

[rebase]
  autosquash = true

[fetch]
  prune = true

[diff]
  colorMoved = zebra
